PORT=3000
CLIENT_URL=https://photocall-frontend.vercel.app
CORS_ORIGIN=https://photocall-frontend.vercel.app
PUBLIC_API_URL=https://photocall-backend.vercel.app
MONGODB_URI=mongodb+srv://videocalling_app:PhotoCall2026@photocall.e1fe1za.mongodb.net/photocall?appName=PhotoCall
JWT_SECRET=52fb2ef2d1acae58f0329334b3cd8fce6a0656472d01a983580a85f970454fe2e92e74a2c236d987ffc6281a812211dc52944dcef7d836c1e74b19ff832ad4a6
JWT_EXPIRES_IN=7d
TURN_URL=turn:global.relay.metered.ca:443
TURN_USERNAME=
TURN_CREDENTIAL=
METERED_DOMAIN=https://photocallapp.metered.live
METERED_TURN_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_STS_MODEL=eleven_multilingual_sts_v2
