PORT=3000
CLIENT_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000
MONGODB_URI=mongodb+srv://videocalling_app:PhotoCall2026@photocall.e1fe1za.mongodb.net/photocall?appName=PhotoCall
JWT_SECRET=52fb2ef2d1acae58f0329334b3cd8fce6a0656472d01a983580a85f970454fe2e92e74a2c236d987ffc6281a812211dc52944dcef7d836c1e74b19ff832ad4a6
JWT_EXPIRES_IN=7d
TURN_URL=turn:global.relay.metered.ca:443
TURN_USERNAME=9bc5dc7b34d1b74cae5e37a3
TURN_CREDENTIAL=wIn/KpttbsjiPG22
METERED_DOMAIN=https://photocallapp.metered.live
METERED_TURN_API_KEY=0578c3032a77a029c0c4210f7e3a339624d2
ELEVENLABS_API_KEY=sk_e18cfef474e0ae639bbfde17cd42941ae6a1cdb1133c8ff2
ELEVENLABS_STS_MODEL=eleven_multilingual_sts_v2
